/* @media only screen and (max-width:767px)
 */
 .content{
     width: 100%;
     height: 100%;
  
 }
 .oauth-header{
     width: 100%;
     top: 0;
     left: 0;
 }

.ac-gn-content{
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 100%;
        
} 
li{ list-style: none;
      
}

img{
    height: 60px;
    color: wheat;
    width: 48px;
    position: relative;   
   
}
.txt{
    font-size: 30px;
    margin-top: 40px;
    text-align: center;
    margin-bottom: 40px;
    position: relative;
    left: 0%;
}
.logo{
    text-align: center;
    margin-bottom: 20px;

}
.oauth-in-content-main{
    text-align: center;
    width: 400px;
    left: 50%;
    position: relative;
    transform: translate(-50%, -50%);
    top: 200px;
}
.logo{
    width: 60px;
    height: 60px;
   
}
.text1{
    font-size: 20px;
}


#text-field{
    font-size: 17px;
    width: 280px;
    height: 30px;
    margin-top: 20px ;
    font-weight: 400;
    border: 1px solid black;
}
.find-id{
    list-style: none;
    text-decoration: none;
    
}
a{
    color: gray;
    text-decoration: none;
    margin-top: 5px;
    margin-bottom: 30px;
}
.legal{
    font-size: 12px;
    margin-top: 40px;
    margin-bottom: 10px;
}
footer{
    margin-top: 100px;
}

.footer{
    position: relative;
    top: 280px;
    margin-top: 0;
}